body {
  background-color: #c9d6df;
  background-size: cover;
  height: auto;
  width: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #13445a;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
th {
  background-color: #13445a;
  color: white;
  width: 100%;
  font-size: 40px;
  margin-bottom: 10px;
}
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
}
a:active {
  padding: 10px 30px;
}
